<div ng-include="'header.html'"></div>
<!-- <div ng-controller="PackagesCtrl"> -->
  <div class="container">
    <div class="row">
       
       <div ng-show="budget_select">
        <div class="col-md-8 col-md-offset-2">
    	 <div class="gap-budget">
	      <div class="panel panel-primary budget_panel">
			 <div class="panel-heading">
			 	<h4>Please select your budget</h4>
			 </div>
			<div class="panel-body">
				<div class="col-md-12 text-center">
	    			 <rzslider rz-slider-model="slider.value"
	          				   rz-slider-options="slider.options">
	          	     </rzslider>
	          	</div>
	        </div>
		  </div>
		 </div>
	    </div>
	   </div>

		<div ng-show="packages">
			<!-- budget interval -->
		<div class="col-md-2 vertical_panel">
			<div class="col-md-8">
			  <div class="panel panel-primary budget_panel">
				<div class="panel-heading">
				 	<h4>Overall budget</h4>
				 </div>
				<div class="panel-body vertical_panel_body">
	    			 <rzslider rz-slider-model="verticalSlider.value"
          					   rz-slider-options="verticalSlider.options"></rzslider>
		        </div>
		      </div>
		    </div>
		</div>

		<div class="col-md-10 col-md-offset-2">
            <!-- packages -->
           <div ng-repeat='package in packages'>
			<div class="panel panel-default package">
			  <div class="panel-body package_body">
				<div class="col-md-2 img_wrap">
					<div>
                       <img class="package_img" ng-src="{{package.hotel.image}}">
                   </div>
				</div>
				<div class="col-md-5 hotel_details">
					<p>{{package.hotel.name}}</p>
					<jk-rating-stars max-rating="3" rating="3" read-only="true"></jk-rating-stars>

					<h4>{{package.hotel.country}}, {{package.hotel.city}}</h4>
					<h5>Overall rating<span class="hotel_rating">{{package.hotel.rating}}</span></h5>
				</div>
				<div class="col-md-3 border">
					<p>Facilities</p>
					<hr>
					<h4><i class="fa fa-wifi facility" aria-hidden="true"></i> Free Wifi</h4>
					<h4><i class="fa fa-cutlery facility" aria-hidden="true"></i> Breakfast </h4>
				</div>
				<div class="col-md-2">
					<p>Daily hotel price</p>
					<hr>
					<p class="price">${{package.hotel.price}}</p>
				</div>
				<div class="col-md-12">
				  <hr class="hotel_border">
				</div>

                <div ng-if = "package.times == 2 && package.restaurants.others.length > 0">
                	<div ng-include="'packages/both_and_over.html'"></div>
				</div>
                <div ng-if = "package.times == 2 && package.restaurants.others.length == 0">
                	<div ng-include="'packages/only_both.html'"></div>
                </div>
                <div ng-if = "package.times == 1 && package.restaurants.others.length > 0">
                	<div ng-include="'packages/matches_and_over.html'"></div>
                </div>
                <div ng-if = "package.times == 1 && package.restaurants.others.length == 0">
                	<div ng-include="'packages/only_matches.html'"></div>
                </div>
				<div class="col-md-2">
					 <p>Daily restaurant budget</p>
					 <hr>
					 <p class="price">${{package.rest_budget}}</p>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	   </div>
      </div>
     </div>
    <!-- </div> -->