<div ng-controller="HeaderCtrl">
  <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/src/html/#!/hotels">TripRec</a>
      </div>

      <div class="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#" ng-click="Logout()">Logout</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </div>
  </div>
</div>
