<div ng-include="'header.html'"></div>

  <!-- <div ng-controller="HotelsCtrl"> -->
	   <div class="container">
			 <div class="row">

			     <div class="col-md-12" ng-show="hotel">
	          <div ng-repeat="hotel in hotels">
	           <div class="col-md-4">
  						<div class="card">
  						  <img ng-src="{{hotel.image}}" class="col-md-12 hotel">
  						 <div class="inner">
  						  <h4><b class="hotelname">{{hotel.name}}</b></h4>
                <h6><span class="hotel_rating">Overall rating: {{hotel.rating}}</span></h6>
                    <jk-rating-stars rating="rate" on-rating="onItemRating(rate, hotel.name)">
                    </jk-rating-stars>
                    <p>{{order}}</p>
  						 </div>
              </div>
  					 </div>
			      </div>
             <div class="col-md-12">
              <div class="col-md-6 col-md-offset-3">
                 <div class="form-group alert alert-danger rate" ng-show="error">
                   Please rate all given hotels to continue
                 </div>
               </div>
             </div>
             <div class="col-md-12">
                 <div class="col-md-4 col-md-offset-4">
                    <button id="rating_button" class="btn btn-primary" ng-hide="restaurants" ng-click="hotelRatings()">Continue</button>
                 </div>
             </div>
				   </div>

					 <div class="col-md-8 col-md-offset-2" ng-show="restaurants">
           <div class="gap-restaurants">
            <div class="panel panel-primary restaurant_panel">
             <div class="panel-heading">
                 <h4> Restaurants </h4>
             </div>
             <div class="panel-body">
               <div class="col-md-4">
                 <div class="form-group">
                   <p> Check in <span style="color:red; padding-left: 5px">*</span></p>
                   <input ng-model="check_in" class="form-control"
                       datetime-picker date-only date-format="yyyy-MM-dd" future-only placeholder="Tap to select" />
                 </div>
               </div>
               <div class="col-md-4">
                <div class="form-group">
                 <p> Check out <span style="color:red; padding-left: 5px">*</span> </p>
                 <input ng-model="check_out" class="form-control"
                        datetime-picker date-only date-format="yyyy-MM-dd" future-only placeholder="Tap to select" />
                </div>
               </div>
               <div class="col-md-4">
                <div class="form-group">
                 <p> Distance </p>
                  <select class="form-control" ng-model="radius">
                    <option>Near hotel (0-500m)</option>
                    <option>Not far from hotel (0-1000m)</option>
                    <option>No matters</option>
                  </select>
                </div>
               </div>
               <div class="col-md-4">
                <div class="form-group">
                 <p> Restaurants for <span style="color:red; padding-left: 5px">*</span></p>
                  <select class="form-control" ng-model="rest_for">
                    <option>Lunch or Dinner</option>
                    <option>Both</option>
                  </select>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <p> Cuisines </p>
                  <tags-input ng-model="tags" 
                              add-on-paste="false"
                              
                              replace-spaces-with-dashes="false"
                              placeholder="Add your cuisine/restaurant preferences e.g. French">
                     <auto-complete source="loadTags($query)"
                                    max-results-to-show="32"
                                    load-on-focus="true"
                                    load-on-empty="true">  
                     </auto-complete>
                  </tags-input>
                </div>
              </div>
              <div class="col-md-12">
              <div class="col-md-6 col-md-offset-3">
                 <div class="form-group alert alert-danger rate" ng-show="cuisine_error">
                   Please fill all red marked fields
                 </div>
               </div>
             </div>
              <div class="col-md-12">
               <div class="col-md-4 col-md-offset-4">
                  <button id="rating_button" class="btn btn-primary btn-sm" ng-show="restaurants" ng-click="packages()"><i class="fa fa-circle-o-notch fa-spin" ng-show="!waiting"></i>Continue</button>
               </div>
             </div>
            </div>
           </div>
           </div>
		     </div>
       </div>
     </div>
   <!-- </div> -->
