        <!-- Top content -->
  <div class="top-content">
      <div class="inner-bg">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                  	<div class="form-box">
                    	<div class="form-top">
                    		<div class="form-top-left">
                    			<h3>Login to our site</h3>
                        		<p>Enter username and password to log on:</p>
                    		</div>
                    		<div class="form-top-right">
                    			<i class="fa fa-lock"></i>
                    		</div>
                        </div>
                        <div class="form-bottom" ng-controller="LoginCtrl">
                          <form role="form" action="/" method="post" class="login-form" ng-submit="submit($event)">
                          	<div class="form-group">
                          		<label class="sr-only" for="form-username">Email</label>
                              	<input type="text" name="form-username" placeholder="Email..."
                                                   class="form-username form-control" id="form-username"
                                                   ng-model="login.email" required="required">
                              </div>
                              <div class="form-group">
                              	<label class="sr-only" for="form-password">Password</label>
                              	<input type="password" name="form-password" placeholder="Password..."
                                                       class="form-password form-control" id="form-password"
                                                       ng-model="login.password" required="required">
                              </div>

                              <!-- login to the website -->
                              <div class="form-group">
                               <button type="submit" class="btn" ng-disable="!logged">
                                 <i class="fa fa-circle-o-notch fa-spin" ng-show="!logged"></i>Sign in!
                               </button>
                              </div>

                              <!-- if crediatials are wrong, show alert message -->
                              <div class="form-group">
                                 <div class="form-group alert alert-danger" ng-show="user">
                                   {{error_message}}
                                 </div>
                              </div>

                              <!-- registration -->
                              <p>Does not have an account, sign up</p>
                              <a href="/src/html/#!/register" class="btn" name="signup">Sign up</a>
                          </form>
                        </div>
                     </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
