  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_NlDEi-9r50y7q8jyYjDYXxAwS8Qzi1c&libraries=places&callback=initMap"
          async defer></script>
  <script type="text/javascript" src="../../src/js/main.js"></script> -->

  <div ng-controller="SearchCtrl">
  <div class="container">

    <!-- google map implementation -->
    <div class="row">
      <div class="col-md-12">
         <div id="map">

         </div>
      </div>
      <div id="infowindow-content">
         <img src="" width="16" height="16" id="place-icon">
         <span id="place-name"  class="title"></span><br>
         <span id="place-address"></span>
      </div>
    </div>

    <!-- form elements for search -->
    <form>
      <div class="form-row">
        <div class="col-md-12 col-md-offset-1">
         <div class="form-group col-md-2">
           <label for="city">Location</label>
           <input type="text" class="form-control" id="location" placeholder="Location">
          </div>
         <div class="form-group col-md-2">
          <label for="check-in">Check-in</label>
          <input type="date" class="form-control" id="check-in" placeholder="Check-in date">
         </div>
         <div class="form-group col-md-2">
          <label for="check-out">Check-out</label>
          <input type="date" class="form-control" id="check-out" placeholder="Check-out date">
         </div>
         <div class="form-group col-md-2">
           <label for="budget">Budget</label>
           <input type="number" class="form-control" id="budget" placeholder="Enter your ">
        </div>
        <div class="form-group col-md-2">
         <label for="currency">Currency</label>
         <select class="form-control" id="currency">
          <option>Euro</option>
          <option>Dollar</option>
          <option>Funt sterling</option>
         </select>
       </div>
      </div>
    </div>

      <div class="form-row">
        <div class="col-md-12 col-md-offset-1">
         <div class="form-group col-md-2">
           <label for="interest">Interests</label>
           <select class="form-control" id="interest">
              <option>Historical places</option>
           </select>
          </div>
         <div class="form-group col-md-2">
          <label for="cuisine">Cuisine</label>
          <select class="form-control" id="cuisine">
           <option>European</option>
           <option>Mexican</option>
           <option>Mediterenian</option>
          </select>
         </div>
         <div class="form-group col-md-2">
          <label for="restaurant">Restaurants for</label>
          <select class="form-control" id="restaurant">
           <option>Breakfast</option>
           <option>Lunch</option>
           <option>Dinner</option>
          </select>
         </div>
         <div class="form-group col-md-2">
           <label for="budget">Distance from hotel</label>
           <select class="form-control" id="restaurant">
            <option>Near hotel</option>
            <option>Not far from</option>
            <option>Doesn't matter</option>
           </select>
        </div>
        <div class="form-group col-md-2">
           <button type="submit" class="btn btn-primary" id="search" onclick="Search()">Search</button>
       </div>
      </div>

    </div>
  </form>
</div>
</div>
