<div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" alt="" id="img1"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#" id="res1">Restaurant</a>
          </h4>
          Overall Rating: <p class="card-text" id="r1"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" alt="" id="img2"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#" id="res2">Restaurant</a>
          </h4>
          Overall Rating: <p class="card-text" id="r2" ></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" alt="" id="img3"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#" id="res3">Restaurant</a>
          </h4>
          Overall Rating: <p class="card-text" id="r3" ></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" alt="" id="img4"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#" id="res4">Restaurant</a>
          </h4>
          Overall Rating: <p class="card-text" id="r4" ></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" alt="" id="img5"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#" id="res5">Restaurant</a>
          </h4>
          Overall Rating: <p class="card-text" id="r5"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" alt="" id="img6"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#" id="res6">Restaurant</a>
          </h4>
          Overall Rating: <p class="card-text" id="r6"></p>
        </div>
      </div>
    </div>
</div>
</div>
