<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                <!-- <div class="col-sm-1 middle-border"></div>
                <div class="col-sm-1"></div> -->

                  <div class="form-box">
                    <div class="form-top">
                      <div class="form-top-left">
                        <h3>Sign up now</h3>
                          <p>Fill in the form below to get instant access:</p>
                      </div>
                      <div class="form-top-right">
                        <i class="fa fa-pencil"></i>
                      </div>
                      </div>
                      <div class="form-bottom">
                    <form role="form" action="/" method="post" class="registration-form" ng-submit="submit($event)">
                      <div class="form-group">
                        <label class="sr-only" for="form-first-name">First name</label>
                          <input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name" ng-model="register.fname" required="required">
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="form-last-name">Last name</label>
                          <input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name" ng-model="register.lname" required="required">
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="form-email">Email</label>
                          <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email" ng-model="register.email" required="required">
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="form-email">Password</label>
                          <input type="password" name="form-email" placeholder="Password..." class="form-password form-control" id="form-password" ng-model="register.password" required="required">
                        </div>

                        <div class="form-group">
                           <button type="submit" class="btn" ng-disable="!registered">
                             <i class="fa fa-circle-o-notch fa-spin" ng-show="!registered"></i>Sign me up!
                           </button>
                        </div>
                        <!-- if crediatials are wrong, show alert message -->
                        <div class="form-group">
                           <div class="form-group alert alert-danger" ng-show="user">
                             {{error_message}}
                           </div>
                        </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>

        </div>
    </div>

</div>
