<div class="size_s">
	<div class="col-md-6 border">
		<p>Restaurants for Lunch and Dinner</p>
		<div class="col-md-12">
		  <hr>
		</div>
		<div class="col-md-12 scroller">
			<div ng-repeat = "combination in package.restaurants.combinations">
				<div class="col-md-6">
				  <h4>{{combination.comb[0].name}}<span class="restaurant_price">${{combination.comb[0].cost}}</span></h4>
			      <h4><span class="rest_rating">
			      {{combination.comb[0].user_ratings.agg_rating}}</span>
			      {{combination.comb[0].user_ratings.rating_text}}</h4>
				</div>
				<div class="col-md-6">
				  <h4>{{combination.comb[1].name}}<span class="restaurant_price">${{combination.comb[1].cost}}</span></h4>
			      <h4><span class="rest_rating">{{combination.comb[1].user_ratings.agg_rating}}</span>{{combination.comb[1].user_ratings.rating_text}}</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 border">
		<p>Over budget</p>
		<div class="col-md-12">
		   <hr>
		</div>
		<div class="col-md-12 scroller">
	  	  <div ng-repeat = "other in package.restaurants.others">
	  	  	<div class="col-md-12">
			   <h4>{{other.name}} <span class="restaurant_price">${{other.cost}}</span></h4>
			   <h4><span class="rest_rating">{{other.user_ratings.agg_rating}}</span>{{other.user_ratings.rating_text}}</h4>
		    </div>
	      </div>
		</div>
	</div>
</div>