<div class="m_size">
	<div class="col-md-5 border">
		<p>Restaurants for Lunch or Dinner</p>
		<div class="col-md-12">
		  <hr>
		</div>
		<div class="col-md-12 scroller">
			<div ng-repeat = "match in package.restaurants.matches">
				<div class="col-md-12">
				  <h4>{{match.name}}<span class="restaurant_price">${{match.cost}}</span></h4>
			      <h4><span class="rest_rating">
			      {{match.user_ratings.agg_rating}}</span>
			      {{match.user_ratings.rating_text}}</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-5 border">
		<p>Over budget</p>
		<div class="col-md-12">
		   <hr>
		</div>
		<div class="col-md-12 scroller">
	  	  <div ng-repeat = "other in package.restaurants.others">
	  	  	<div class="col-md-12">
			   <h4>{{other.name}} <span class="restaurant_price">${{other.cost}}</span></h4>
			   <h4><span class="rest_rating">{{other.user_ratings.agg_rating}}</span>{{other.user_ratings.rating_text}}</h4>
		    </div>
	      </div>
		</div>
	</div>
</div>