.gap-budget {
    margin-top: 230px;
}

.budget_panel{
	box-shadow: 0 4px 4px 4px rgba(0,0,0,0.2);
	transition: 0.3s;
	margin-bottom: 10px;
	border: none;
}

.rzslider .rz-bubble {
    bottom: 12px;
    font-size: 12px;
    font-weight: bold;
}

.rzslider .rz-pointer {
    background-color: #cdd0d2;
}

.rzslider{
    margin: 40px 0 40px 0;
    border: 1px solid #cac3c3;
}

.jk-rating-stars-container .button .material-icons {
    font-size: 20px;
    padding-bottom: 20px;
}

.package_body{
  padding:5px;
}

.package{
  box-shadow: 0 4px 4px 4px rgba(0,0,0,0.2);
  margin-bottom:20px;
}

.img_wrap{
  padding: 0px;
}

.package_img{
   height:130px;
   width:100%;
}

.hotel_details{
  text-align: left;
  border-right: 1px solid #EAEBED;
}

.hotel_rating{
  border: 1px solid;
  background-color: green;
  color: white;
  padding: 2px;
  font-weight: bold;
  font-size:12px;
  margin-left:20px;
}

.border{
  border-right: 1px solid #EAEBED;
}

p{
  font-weight: bold;
  margin: 0 0 0px;
}

.facility{
  font-weight: normal;
  font-size: 15px;
  padding: 4px;
  margin-top:10px;
  color:#a9a6a6;
}

.price{
  padding: 30px;
  font-weight: bold;
  font-size: 20px;
}

.hotel_border{
  border: 1px solid #eaebed;
  padding: 0px;
}

.restaurant_price{
	font-weight: bold;
	padding: 10px;
}

.rest_address{
	font-size:10px;
}

.scroller{
  height: 150px;
  overflow-y: auto;
}

.size_s h4{
   font-size: 11px;
}

.size_s .rest_rating{
    border: 1px solid;
    background-color: green;
    color: white;
    padding: 2px;
    font-weight: bold;
    font-size:11px;
}

.m_size h4{
   font-size: 12px;
}

.m_size .rest_rating{
    border: 1px solid;
    background-color: green;
    color: white;
    padding: 2px;
    font-weight: bold;
    font-size:12px;
}

.size_l h4{
   font-size: 14px;
}

.size_l .rest_rating{
    border: 1px solid;
    background-color: green;
    color: white;
    padding: 2px;
    font-weight: bold;
    font-size:14px;
}

.vertical_panel{
  position: fixed;
}

.vertical_panel_body{
  height:400px;
}