.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}

body{
  font-family: Arial,Helvetica,Sans, Sans-Serif, Sans Serif;;
  font-weight: 300;
  line-height: 30px;
  padding-top:70px;
  text-align: center;
  background-color: #EAEBED;
}

.form-control{
  border: 1px solid #31708f;
}

h4{
  font-size:15px;
}

#search{
  margin-top:25px;
  width:100%;
}

#map{
  width:100%;
  height: 530px;
  margin-bottom: 20px;
}

#infowindow-content .title {
 font-weight: bold;
}

#infowindow-content {
 display: none;
}

#map #infowindow-content {
 display: inline;
}

.title{
 margin-bottom:10px;
}

.title_span {
 font-weight: bold;
 color: grey;
}

.underline {
    padding-bottom: 2px;
    border-bottom: grey 1px solid;
}

.panel-primary .panel-heading {
    color: #fff;
    background-color: #31708f;
    border-color: #31708f;
}

hr{
 margin: 5px;
}
