/* cards  */
.card {
    box-shadow: 0 4px 4px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom:10px;
}

.card:hover {
    box-shadow: 0 0 100px 0 rgba(0,0,0,0.2);
}

/* hotel details */
.hotel{
  padding:0px;
  padding-bottom: 15px;
}

.hotelname{
  font-weight: 350;
}

.hotel_rating{
  border: 1px solid;
  color: white;
  padding: 5px;
  font-weight: bold;
  background-color:green;
  margin-top:10px;
}

#rating_button{
  margin:10px;
}

/* set image height in hotels page to 250px */
img{
  height:240px;
}
/* star rating */
.jk-rating-stars-container .button .material-icons {
  font-size: 20px;
}

.jk-rating-stars-container .star-button{
  text-shadow: none;
}

.jk-rating-stars-container .star-button.star-off .material-icons {
    color: #b1a8a8;
}

.gap-restaurants {
  margin-top: 100px;
}

tags-input{
  height: 100px;
}

tags-input .tags {
  border: 1px solid #31708f;
  border-radius: 4px;
  box-shadow: none;
}

tags-input .autocomplete .suggestion-list{
  height:100px;
}

.restaurant_panel{
  box-shadow: 0 4px 4px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 10px;
  border: none;
}

.rate{
  margin-top:20px;
}

.fa-spin{
  margin-right:20px;
}